

main h2 {
  color:#228B22;
  margin-bottom: 50px;
  border: 3px double black;
  width: 45%;
  border-radius: 10px 10px;
  box-shadow: 4px 4px #228B22;
  text-align: center;
}

#mononoke h2 {
  width: 35%;
}

#porco h2 {
  width:20%;
}

#wind h2 {
  position: relative;
  top:20px;
  width: 25%;
}
head,body {
  background-color: #9fe2bf;
  font-size: 150%;
  background: -moz-linear-gradient(left, #9fe2bf, #FFF);
  background: -webkit-linear-gradient(left, #9fe2bf, #FFF);
  background: linear-gradient(to right, #9fe2bf, #FFF);
  
}

head,body h2 {
  margin-left: 15px;
}


body {
   margin-right: auto;
   margin-left: auto;
   width: 90%;
   max-width: 1200px;
   border: 3px solid black;
   
   
}
#nav_menu ul { /*Those nav css are decorate navigation menue*/
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
  display: flex;
  
}
#nav_menu ul li {
	float: left;
  width: 25%;
  background-color: black;
}
#nav_menu ul li a {
    flex-direction: column;
    height: 5px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#nav_menu a.current {
	color: #E59500;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}





main img{ /*This is scalable images*/
  float: left;
	display: block;
  margin-bottom: 30px;
  width: 50%;
}

div p{
  font-style: oblique;
  text-align: center;
  width: 55%;
}

h1{
  color:#008080;
  margin-bottom: 0px;
  text-align: center;
  background-color: black;
  border-bottom: 2px solid white;
}



div h3 {
  color: #0047ab;
  margin-bottom: 0px;
  margin-left: 15px;
  width: 55%;
}

a:hover{
  font-style: italic;
}

@media only screen and (max-width: 599px) {
  body p {font-size: 50%;}
}